.student-card {
    min-width: 300px;
    border: solid 1px gray;
    margin: 0 auto;
    padding: 5px;
}

.student-card > button {
    width: 100%;
    margin: 2px 0;
}

ul {
    list-style-type: none;
}

ul * {
    padding-bottom: 5px;
}
.container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 20px;
    width: 100%;
    
}